.ques-container {
  min-height: 100%;
  .img-wrapper {
    height: calc(100% - 330px);
    img {
      margin: auto;
      max-height: 100%;
      box-shadow: 3px 3px 13px 0px #efefef2e;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 330px;
    span {
      margin-right: 15px;
    }
    button {
      padding: 1em;
      font-size: 1.25rem;
      width: 350px;
      margin-top: 10px;
      border-radius: 14px;
      text-align: left;
      background: #151718;
      color: whitesmoke;
      box-shadow: 2px 2px 6px -2px whitesmoke;
      &.green{
        background-color: green;
      }
      &.red{
        background-color: red;
      }
    }
    button:hover {
      transform: skew(-7deg, 0deg) scale(1.05);
    }
  }
  .nextQues {
    position: absolute;
    top: 45%;
    right: 30px;
    cursor: pointer;
    img {
      width: 50px;
    }
    div {
      padding: 5px 0px;
    }
  }
  .quizStatus{
    position: absolute;
    top: 45%;
    left: 30px;
    &::first-letter{
      font-size: 4rem;
    }
  }
  .finish{
    position: absolute;
    top: 45%;
    right: 20px;
    background: grey;
    padding: 24px;
    font-weight: 700;
    text-shadow: 1px 2px 3px black;
    border-radius: 30px;
    font-size: 1.25rem;
    cursor: pointer;
  }
}
.loading {
  width: fit-content;
  height: fit-content;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1.725rem;
}
